

<form action="sign_up" method="get">
   <p> Enter Username :<input name="username" type="text" required>  </p>
  <p> First Name :<input name="first_name" type="text" required>  </p>
  <p> Last Name :<input name="last_name" type="text" required>  </p>
   <p>Email :<input name="email" type="email" required>  </p>
   <p> Password :<input name="password" type="text" required> </p>
   <p> Gender <input type="radio" id="male" name="gender" value="male">
<label for="male">Male</label><br>  </p>
   <p> <input type="radio" id="female" name="gender" value="female">
<label for="female">Female</label><br> </p>
    <p>Contact : <input type="contact" type="text" required>  </p>


<p> Account Type <input type="radio" id="free" name="account" value="free">
<label for="free">Free</label><br>  </p>
   <p> <input type="radio" id="premium" name="account" value="premium">
<label for="premium">Premium</label><br> </p>

<input type="submit" value="Register">
</form>

